.nav-item {
  width: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon-button {
  width: 3rem;
  height: 2rem;
  background-color: #484a4d;
  border-radius: 50%;
  padding: 5px;
  margin: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: filter 300ms;

  &:hover {
    filter: brightness(1.2);
  }
}

