.dropdown {
  top: 58px;
  width:90px;
  background-color: #242526;
  border: 1px solid #474a4d;
  padding: 1rem;
}

.menu {
  width: 100%;
  font-size: 13px;

  &__icon {
    width: 2rem;
  }
}

.menu-primary-enter {
  position: absolute;
  transform: translateX(-110%);
}

.menu-primary-enter-active {
  transform: translateX(0%);
  transition: all 0.5s ease;
}

.menu-primary-exit {
  position: absolute;
  transform: translateX(0%)
}

.menu-primary-exit-active {
  transform: translateX(-110%);
  transition: all 0.5s ease;
}

.menu-secondary-enter {
  position: absolute;
  transform: translateX(110%);
}

.menu-secondary-enter-active {
  transform: translateX(0%);
  transition: all 0.5s ease;
}

.menu-secondary-exit {
  position: absolute;
  opacity:0;
}

.menu-secondary-exit-active {
  transform: translateX(100%);
  transition: all 0.5s ease;
}
