.carousel {
  &__image {
    width: 80vw;
    height: 30rem;
    object-fit: cover;
    overflow: hidden;
  }

  &__button-container {
    position: absolute;
    top: 30%;
    left: 60%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
  }

  &__button {
    background-color: #555;
    color: white;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
    margin: 2.5rem;

    &:hover {
      background-color: black;
    }
  }
}
